.custom-nav-link{
    color:#323f4b !important;
    font-family: "Roboto" !important;
}
.food-munch-logo{
    width:80px;
    height:70px;
}
.banner-section-container{
    height: 140vh;
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/foodmunch-banner-bg.png");
    background-size: cover;
}
.banner-heading{
    color:white;
    font-family: "Roboto";
    font-size: 45px;
    font-weight: 300;
}
.banner-caption{
    color:#f5f7fa;
    font-family: "Roboto";
    font-size: 24px;
    font-weight: 300;
}
.custom-button{
    color: white;
    width: 130px;
    height: 45px;
    background-color:#d0b200;
    border-width:0px;
    border-radius: 8px;
    margin-right: 10px;
}
.custom-outline-button{
    color: #d0b200;
    width: 130px;
    height: 45px;
    background-color:transparent;
    border-width :1px;;
    border-radius: 8px;
    border-style: solid;
    border-color: #d0b200;
}
.wcu-section{
    color:#f5f7fa;
}
.wcu-section-heading{
    color:#183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
}
.wcu-section-description{
    font-family: "Roboto";
    font-size: 16px;
    color:#5a7184;
}
.wcu-card{
    background-color: white;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-radius: 16px;
    border-color: #e5eaf4;
}
.wcu-card-title{
    color:#323f4b;
    font-family: "Roboto";
    font-size: 22px;
    font-weight: 500;
}
.wcu-card-description{
    font-family: "Roboto";
    font-size: 16px;
    color:#7b8794;
}
.wcu-card-image {
    width: 87px;
    height: 90px;
  }
  .explore-menu-container{
    color:white;
  }
  .explore-menu-heading{
    color:#183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
  }
  .menu-item-image{
    border-radius:16px;
    width:240px;
    height:304px;
  }
  .menu-card-title{
    color:#323f4b;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 500;
    margin-top:24px;
  }
  .menu-item-link{
    color:#d0b200;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 14px;
  }
  .menu-radius{
    border-radius: 16px;
  }
  .healthy-food-section{
    background-color: #f9fbfe;
  }
  .healthy-food-image{
    width:270px;
  }
  .healthy-food-headinng{
    color:#183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
  }
  .healthy-food-content{
    color:#5a7184;
    font-family: "Roboto";
    font-size: 16px;
  }
  .custom-button{
    background-image:linear-gradient(#d0b200,#a58d00);
    width:130px;
    height:45px;
    color:white;
    border-radius: 8px;
    border-width: 0;
    margin-right: 10px;
  }
  .healthy-food-section{
    background-color: #f9fbfe;
  }
  .delivary-image{
    width:270px;
  }
  .delivary-headinng{
    color:#183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
  }
  .delivary-content{
    color:#5a7184;
    font-family: "Roboto";
    font-size: 16px;
  }
  .payment-card-img {
    width: 50px;
    height: 50px;
    margin-right: 28px;
  }
  .thanking-customer-section{
    background-image:radial-gradient(#fff8db,#fae386);
  }
  .thanks-heading{
    color:#183b56;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 28px;
  }
  .thanks-content{
    color:#5a7184;
    font-family: "Roboto";
    font-size: 16px;
  }
  .thanks-img{
    width: 270px;
    margin-bottom: 20px;
  }
.follow-us{
  color:white
}
.follow-us-heading{
  font-size:28px ;
  font-family: "Roboto";
  font-weight:700 ;
  color:#323f4b
}
.icon{
  color:#d0b200;
  font-size: 35px;
}
.follow-us-icon-container{
  width:80px;
  height:80px;
  background-color: #faf7e8;
  padding-top: 22px;
  padding-bottom: 14px;
  padding-right: 16px;
  padding-left: 22px;
  margin:15px;
  border-radius: 40px;
}
.thanking-customer-section-model-title{
  color:#d0b200;
  font-weight: 800;
}